.container{
    padding: 163px 7.3% 46.5px 7.3%;
    display: flex;
    justify-content: space-between;
    p{
        margin: 0;
        font-size: 16px;
        line-height: 18px;
        font-family: 'Ubuntu-Regular',sans-serif;
        color: #30306D;
    }
    @media screen and (max-width:750px){
        padding:216px 30px 39px 30px; 
        flex-direction: column-reverse;
        align-items: center;
        gap: 47px;
    }
}