@font-face {
  font-family: "Ubuntu-Bold";
  src: url('../src/assets/fonts/Ubuntu-Bold.ttf');
}

@font-face {
  font-family: "Ubuntu-Light";
  src: url('../src/assets/fonts/Ubuntu-Light.ttf');
}

@font-face {
  font-family: "Ubuntu-Regular";
  src: url('../src/assets/fonts/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: "Yellowtail-Regular";
  src: url('../src/assets/fonts/Yellowtail-Regular.ttf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
